@import "tailwindcss";

:root {
  --bg-dark: #000002;
  --blue-ellipse: #0000ff;
  --green-ellipse: #00dd73;
  --blue-accent: #3b82f6;

  --grad-blue-conic: conic-gradient(
    from 90deg at 50% 50%,
    var(--blue-accent) 0%,
    var(--bg-dark) 10%,
    var(--bg-dark) 100%
  );
  --grad-about-conic: conic-gradient(
    from 0deg at 50% 50%,
    var(--blue-accent) 0%,
    var(--blue-accent) 10%,
    transparent 10%,
    transparent 45%,
    var(--blue-accent) 50%,
    var(--blue-accent) 60%,
    transparent 65%,
    transparent 100%
  );
  --grad-card-conic: conic-gradient(
    from 0deg at 50% 50%,
    #ff0d1d 0%,
    #ff0d1d 50%,
    #c300c2 50%,
    #c300c2 100%
  );
}

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-jakarta: var(--font-jakarta), sans-serif;
  --color-main-bg: var(--bg-dark);
}

@layer base {
  /* * {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
  }
  *::-webkit-scrollbar {
    display: none !important;
  } */
  body {
    background-color: var(--bg-dark);
    color: white;
    overflow-x: hidden;
  }
}

/* Hero bg */
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 60s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 60s linear infinite;
}

.animate-gallery {
  display: flex;
  width: max-content;
  animation: gallery-scroll 40s linear infinite;
}

/* Previous Event Gallery */
@keyframes gallery-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 12px));
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 12px));
  }
}

.animate-gallery {
  display: flex;
  width: max-content;
  animation: scroll-left 40s linear infinite;
}
