@import "tailwindcss";

:root {
  --bg-dark: #000002;
  --blue-ellipse: #0000ff;
  --green-ellipse: #00dd73;
  --blue-accent: #3b82f6;

  --grad-blue-conic: conic-gradient(
    from 90deg at 50% 50%,
    var(--blue-accent) 0%,
    var(--bg-dark) 10%,
    var(--bg-dark) 100%
  );
  --grad-about-conic: conic-gradient(
    from 0deg at 50% 50%,
    var(--blue-accent) 0%,
    var(--blue-accent) 10%,
    transparent 10%,
    transparent 45%,
    var(--blue-accent) 50%,
    var(--blue-accent) 60%,
    transparent 65%,
    transparent 100%
  );
  --grad-card-conic: conic-gradient(
    from 0deg at 50% 50%,
    #0000ff 0%,
    #00dd73 5%,
    transparent 8%,
    transparent 50%,
    #00dd73 50%,
    #0000ff 55%,
    transparent 58%,
    transparent 100%
  );
}

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-jakarta: var(--font-jakarta), sans-serif;
  --color-main-bg: var(--bg-dark);
}

@layer base {
  /* * {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
  }
  *::-webkit-scrollbar {
    display: none !important;
  } */
  body {
    background-color: var(--bg-dark);
    color: white;
    overflow-x: hidden;
  }
}
